.his-warp
  margin-bottom 50px
  margin-top 5rem

.i-changwen {
  padding: 10px;
  padding-bottom: 0;
  margin: 10px;
  border-radius: 3px;
  border-bottom: 1px solid #c9c9c9
}
.it {
  position: relative;
  margin-bottom: 10px;
  background-color: #fff;
}

.changwen-wrap {
  display: -webkit-box;
  margin-bottom: 10px;
}
*, :before, :after {
  box-sizing: inherit;
}

.changwen-cover {
  width: 120px;
  height: 80px;
  margin-right: 10px;
  display: block;
  background: url(img/bg.png) 100% 100% no-repeat;
  background-size: 120px 80px;
  background-color: #f4f4f4;
}
img {
    border: 0;
}
.changwen-rightCont {
  -webkit-box-flex: 1;
  height: 82px;
}

.changwen-title {
  font-size: 16px;
  margin: 0;
  display: block;
  display: -webkit-box;
  max-height: 48px;
  font-size: 16px;
  line-height: 1.5;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.changwen-desc {
  margin: 10px 0 0;
  font-size: 12px;
  color: #888;
  word-break: break-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.hairlines .lI-meta {
  border-top: 0;
  background-size: 1px 1px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAQAAAAziH6sAAAADklEQVQIHWN49Z+BgQEACJQB6qv4qWwAAAAASUVORK5CYII=");
  background-position: 0 0;
  background-repeat: repeat-x;
}
.lI-meta {
  position: relative;
  height: 40px;
  margin: 0 6px;
  line-height: 40px;
  border-top: 1px solid #eaeaea;
  font-size: 12px;
  color: #888;
}

.lI-meta
  .tags
    margin-right 10px
