<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="HandheldFriendly" content="true">
    <meta name="screen-orientation" content="portrait">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <!-- IOS特定的meta -->
    <meta content="telephone=no" name="format-detection">
    <meta name="google-site-verification" content="2Uhh5jPhEsoxu9cqc6QiUL4uruCCAtg-_imhWkQeBWU">
    <title>老广汇 | 传承粤文化</title>

    <!-- 针对特定的url进行dns预解析 -->
    <link rel="dns-prefetch" href="">
    <link href="lib/font-awesome/font-awesome.css" rel="stylesheet">
    <link href="lib/swiper/css/swiper.min.css" rel="stylesheet">
    <link href="lib/iconfont/iconfont.css" rel="stylesheet" type="text/css">
    <link href="./loading.css" rel="stylesheet" type="text/css">
    <link href="styl/index.styl" rel="stylesheet">
    <link href="styl/color.styl" rel="stylesheet">
</head>
<body>
<div id="page-main" style="height: 100%; position: relative;"></div>
<div class="spinner hide" id="loading">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
</div>
<div class="errPage hide">
    <img src="./img/500_icon.png" style="width: 50px;height: 50px;">
    <div>站点升级处理中...</div>
    <div class="err-btn  red darken-4">重试</div>
</div>
</body>
<footer>
    <script src="lib/zepto.min.js"></script>
    <script src="lib/vue.js"></script>
    <script src="lib/swiper/js/swiper.min.js"></script>
    <script src="lib/scrat.js"></script>
    <script>
        require.config(__FRAMEWORK_CONFIG__);
        require.async(['boot'], function (boot) {
            boot();
        });
    </script>
    <script>
        $('.err-btn').bind('click',function(){
            location.reload();
        })
    </script>
</footer>
</html>
