.index-nav {
  position: fixed;
  z-index: 96;
  top: 0;
  padding-top: 50px;
  width: 100%;
  height: 34px;
  text-align: center;
  background: #fff;
  -webkit-overflow-scrolling: touch;
}


.index-nav-ul {
  height:34px;
  white-space: nowrap;
  display: -webkit-box;
  -webkit-box-pack: justify;
  -moz-box-shadow: 0px 2px 2px #999; /* 老的 Firefox */
  box-shadow: 0px 2px 2px #999;
}
ul, ol, menu {
  list-style: none;
}

.index-nav-ul li {
  display: block;
  -webkit-box-flex: 1;
  box-sizing: border-box;
  padding 0 16px
}

.index-nav-ul .on a {
  color: #c62828;
  border-bottom: .125rem #c62828 solid;
}

.index-nav-ul li a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  padding: .5rem .1rem;
  height: 100%;
  color: #000;
  font-size: .825rem;
  line-height: .825rem;
}