//.page-footer
//  height 5rem
//  line-height 5rem
//  background-color #333333
//  color white
//  text-align center
.page-footer
  background-color #333

.footer-share
  padding 26px 44px
  background-color #333
  .footer-warp
    display: -webkit-box;
    -webkit-box-pack: justify;
    a
      display: block;
      -webkit-box-flex: 1;
      position: relative;
      box-sizing: border-box;
      width 33px
      height 33px
      img
        position absolute
        width 33px
        height 33px
        top 0
        left 50%
        margin-left -16.5px

.footer-pos
  padding 0px 14px 0px 32px
  background-color #333
  color #fff
  word-wrap break-word
  font-size 12px

.footer-line
  position relative
  margin-bottom 16px

.footer-logo
  position absolute
  left -16px